* {
  font-family: system-ui;
}

body,
html {
  margin: 0;
}

header {
  position: sticky;
  top: 0px;
  max-height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  z-index: 10;
}

header * {
  margin: 0;
}

header hr {
  opacity: 20%;
  margin: 0 3em 0 3em;
}

#header-top {
  padding: 0 3em 0 3em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#breadcrumbs {
  display: flex;
  flex-direction: row;
}

#breadcrumbs li {
  margin-right: 0.5em;
  list-style-type: none;
}

#breadcrumbs li:first-child::before {
  content: "";
  display: none;
}

#breadcrumbs li::before {
  content: ">";
}

#content-holder {}

#content-switch {
  justify-self: end;
}

#content-holder {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 40em 1fr;
  position: relative;
}

#content-nav {
  display: none;
  width: 300px;
  max-height: calc(100vh - 5em);
  overflow-y: auto;
  align-self: start;
  position: sticky;
  top: 5em;
  left: 0;
}

#content-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#content {
  z-index: 5;
}

#content code {
  font-family: monospace;
}

#docs-nav {
  width: 250px;
  max-height: calc(100vh - 5em);
  overflow-y: auto;
  align-self: start;
  justify-self: end;
  position: sticky;
  top: 5rem;
  right: 0;
}

#docs-nav ul {
  margin: 0;
}

#docs-nav li {
  padding-bottom: 0.25em;
}