* {
  font-family: system-ui;
}

body,
html {
  margin: 0;
}

header {
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  grid-row: 1;
  grid-column: 1 / -1;
}

header div {
  margin: 0;
}

header hr {
  margin: 0;
  width: 100%;
  opacity: 20%;
}

#header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#content-holder {
  display: grid;
  margin: auto;
  max-width: max-content;
  grid-template-columns: 16rem 40rem 16rem;
  grid-template-rows: 5rem 1fr;
  position: relative;
}

#content-nav {
  display: none;
  width: min-content;
  max-height: calc(100vh - 5em);
  overflow-y: auto;
  align-self: start;
  position: sticky;
  top: 5em;
  left: 0;
}

#content-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#content {
  z-index: 5;
  grid-row: 2;
}

#content * {
  max-width: 100%;
}

#content code {
  font-family: monospace;
}

#docs-nav {
  width: 100%;
  max-height: calc(100vh - 5em);
  overflow-y: auto;
  align-self: start;
  justify-self: end;
  position: sticky;
  top: 5rem;
  padding: 0;
  right: 0;
  grid-row: 2;
}

#docs-nav>ul {}

#docs-nav li {
  padding-bottom: 0.25em;
}

@media screen and (max-width: 720px) {
  #content-holder {
    margin: 0 1.5em 0 1.5em;
    grid-template-columns: 1fr;
  }

  #docs-nav {
    display: none;
  }
}